{{#if successMsg}}
<div class="container">
    <div class="alert alert-success alert-dismissible fade show mt-2">
        <p class="">{{successMsg}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

{{/if}} {{#if errorMsg}}
<div class="container">
    <div class="alert alert-danger alert-dismissible fade show mt-2">
        <p class="">{{errorMsg}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

{{/if}}