<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">YourSem</h1>
        <p class="lead">The application allows you to store your semester performance with various functionalities</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/users/register" role="button">Register</a>
        </p>
    </div>
</div>